<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name=”viewport” content=”width=device-width,initial-scale=1″/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link href="css/referee_show.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <!-- 引入Vue.js框架 -->
    <script src="js/vue.js"></script>
    <title>裁判控制</title>
</head>

<body>
<!--总体布局-->
<div id="referee_manage" class="all">
    <!--背景区域-->
    <div class="layout">
        <!--比赛信息区域-->
        <div class="match_info-box">
            <div class="title">
                <div class="match_name-text">{{match_name}}</div>
            </div>
            <table class="about_info-table">
                <tr>
                    <td>{{match_type_string}}</td>
                    <td>第{{current_group_no}}组/共{{all_groups_sum}}组</td>
                    <td>共{{exit_target_sum}}靶道</td>
                    <td>{{match_stage}}阶段</td>
                    <td v-if="needChangeStyle" :style="{'background': oddFinalsBackground, 'color': oddFinalsColor}">
                        {{match_process}}
                    </td>
                    <td v-else>{{match_process}}</td>
                    <td>裁判端：{{referee_state}}</td>
                </tr>
            </table>
        </div>
        <!--所有靶道展示区域-->
        <div class="bottom">
            <div class="lanes_show-box">
                <ul>
                    <qy-unit v-for="(item, index) in exit_target_sum" :item="item" :key="index" :index="index"
                             :device_color_list="device_color_list" :all_lines_shoot_data="allLinesShootData"></qy-unit>
                </ul>
            </div>
        </div>
    </div>
    <!--弹出遮罩层显示详情-->
    <!--    <div v-if="isMaskShow" class="mask_layout" @click="clickMask"></div>-->
    <!--    <div v-if="isMaskShow" class="background" @click="clickMask"></div>-->
</div>

<script type="text/javascript">
    /**
     * 获取文件名提取场馆号
     */
    var param = location.href.split('?')[1];//获取参数
    var venueNo = param.split('=')[1];
    // var venueNo = 16;

    /**
     * 靶显示单位组件
     */
    Vue.component('qy-unit', {
        props: ['index', 'device_color_list', 'all_lines_shoot_data'],
        template: `
        <li class="target_unit">
            <div class="display_floor">
                <div class="target_unit_top">
                    <div class="unit_ring-box">
                        <canvas class="shoot-unit-target" width="276px" height="240px"></canvas>
                        <canvas class="shoot-unit-point" width="276px" height="240px"></canvas>
                    </div>
                    <div class="unit_lane-box">
                        <div class="unit-lane_num">{{all_lines_shoot_data[index].unitTargetNo<10 ? "0" + all_lines_shoot_data[index].unitTargetNo : all_lines_shoot_data[index].unitTargetNo}}</div>
                    </div>
                    <div class="unit_rank-box">
                        <div v-show="all_lines_shoot_data[index].unitRankNum != 0" class="unit-rank_num" :style="{'color': all_lines_shoot_data[index].unit_rank_color}">{{all_lines_shoot_data[index].unitRankNum}}</div>
                    </div>
                    <div class="unit_link_state-box">
                        <div class="unit-link_state">
                        <div class="unit-link_text">枪</div><div class="unit-link_light" :style="{'background': all_lines_shoot_data[index].unit_gun_status==false ? device_color_list[1] : device_color_list[2]}"></div>
                        </div>
                        <div class="unit-link_state">
                        <div class="unit-link_text">靶</div><div class="unit-link_light" :style="{'background': all_lines_shoot_data[index].unit_target_status==false ? device_color_list[1] : device_color_list[2]}"></div>
                        </div>
                    </div>
                </div>
                <div class="target_unit_bottom">
                    <table class="brief_table">
                        <tr>
                            <td width="40%">{{all_lines_shoot_data[index].unitPlayerName}}</td>
                            <td width="15%">{{all_lines_shoot_data[index].unitOrderCount}}</td>
                            <td width="20%">{{all_lines_shoot_data[index].unitCurrentScore.toFixed(1)}}</td>
                            <td width="25%">{{all_lines_shoot_data[index].unitTotalScore.toFixed(1)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div v-if="all_lines_shoot_data[index].unitIsInline == false || all_lines_shoot_data[index].unitIsFinish == true" class="offline_Mask"></div>
            <div v-if="all_lines_shoot_data[index].unitIsInline == false && all_lines_shoot_data[index].unitIsFinish == false" class="offline_text">离线</div>
            <div v-else-if="all_lines_shoot_data[index].unitIsFinish == true" class="offline_text">淘汰</div>
        </li>
        `
    })
    var matchWholeInfo = new Vue({
        el: "#referee_manage",
        data: {
            /**
             * 设置场馆ID
             */
            venue_num: parseInt(venueNo),

            match_name: "",//比赛名称
            match_type: "",//比赛类型
            match_type_string: "激光手枪/激光步枪",//比赛类型字符串
            match_stage: "-",//比赛阶段
            current_group_no: 0,//当前分组
            exit_target_sum: 0,//存在靶道数量
            all_groups_sum: 0,//所有分组数量
            match_process: "比赛进程",//比赛进程
            referee_state: "离线",//裁判端状态

            allLinesShootData: [],//所有靶道射击数据

            //排名颜色
            rank_color_list: {
                1: "#FF0000",
                2: "#FF7D00",
                3: "#FFFF00",
                4: "#00FF00",
                5: "#00FFFF",
                6: "#0000FF",
                7: "#FF00FF",
                8: "#FFC0CB",
                "default": "#CCCCCC"
            },
            // 单发决赛
            isOddShootingFinals: false,//是否正在进行单发射击，默认为false
            needChangeStyle: false,//需要改变样式，默认为false
            oddFinalsBackground: "#FF0000",//单发决赛背景样式
            oddFinalsColor: "#FFFFFF",//单发决赛字体样式

            //枪靶状态颜色
            device_color_list: {
                1: "#A9A9A9",
                2: "#00FF00"
            },

            isMaskShow: false,//是否展示遮罩
        },
        methods: {
            /**
             * 绘制步枪靶
             */
            drawRifleTarget() {
                var canvasRifleArr = document.getElementsByClassName("shoot-unit-target");
                for (var no = 0; no < canvasRifleArr.length; no++) {
                    var canvasRifle = canvasRifleArr[no];
                    var ctx = canvasRifle.getContext("2d");
                    // 加载前清空画布
                    ctx.clearRect(0, 0, canvasRifle.clientWidth, canvasRifle.clientHeight);
                    var w = canvasRifle.clientWidth / 2;//根据(0, 0)点横坐标需要移动的距离
                    var h = canvasRifle.clientHeight / 2;//根据(0, 0)点纵坐标需要移动的距离
                    var n = 9;//画圆数目
                    var spacing = 5;//标准比例环半径差
                    var ring_height = canvasRifle.clientHeight * 0.96;//核心区域高
                    var ring_radius = ring_height / 2;//核心区域最外圈半径

                    var rifle_ring_unit = ring_height * (0.5 / 45.5);//核心区域标准比例的最小单位长度（步枪）
                    for (var i = 0; i < n; i++) {
                        ctx.beginPath();//开始一个新的绘制路径
                        ctx.fillStyle = "transparent";//填充透明
                        ctx.arc(w, h, ring_radius - rifle_ring_unit * spacing * i, 0, Math.PI * 2);
                        ctx.fill();
                        ctx.font = "normal bold 8px Source Han Sans CN,serif";
                        ctx.fillStyle = "#FFFFFF";
                        if (i + 1 < n) {
                            ctx.fillText((i + 1).toString(), -2.5 + w, -(ring_radius - rifle_ring_unit * spacing * i - 10) + h);//上环数
                            ctx.fillText((i + 1).toString(), -(ring_radius - rifle_ring_unit * spacing * i - 4) + w, 2.5 + h);//左环数
                            ctx.fillText((i + 1).toString(), ring_radius - rifle_ring_unit * spacing * i - 9 + w, 2.5 + h);//右环数
                            ctx.fillText((i + 1).toString(), -2.5 + w, ring_radius - rifle_ring_unit * spacing * i - 4 + h);//下环数
                        }
                        ctx.lineWidth = 2;//边框
                        ctx.strokeStyle = "white";
                        ctx.stroke();
                    }
                    // 画步枪靶圆心
                    ctx.beginPath();//开始一个新的绘制路径
                    ctx.fillStyle = "white";//填充透明
                    ctx.arc(w, h, rifle_ring_unit * 0.5, 0, Math.PI * 2);
                    ctx.fill();
                }
            },
            /**
             * 绘制手枪靶
             */
            drawPistolTarget() {
                var canvasPistolArr = document.getElementsByClassName("shoot-unit-target");
                for (var no = 0; no < canvasPistolArr.length; no++) {
                    var canvasPistol = canvasPistolArr[no];
                    var ctx = canvasPistol.getContext("2d");
                    // 加载前清空画布
                    ctx.clearRect(0, 0, canvasPistol.clientWidth, canvasPistol.clientHeight);
                    var w = canvasPistol.clientWidth / 2;//根据(0, 0)点横坐标需要移动的距离
                    var h = canvasPistol.clientHeight / 2;//根据(0, 0)点纵坐标需要移动的距离
                    var n = 9;//画圆数目
                    var spacing = 16;//标准比例环半径差
                    var ring_height = canvasPistol.clientHeight * 0.96;//核心区域高
                    var ring_radius = ring_height / 2;//核心区域最外圈半径

                    var pistol_ring_unit = ring_height * (0.5 / 155.5);//核心区域标准比例的最小单位长度（手枪）
                    for (var i = 0; i < n; i++) {
                        ctx.beginPath();//开始一个新的绘制路径
                        ctx.fillStyle = "transparent";//填充透明
                        ctx.arc(w, h, ring_radius - pistol_ring_unit * spacing * i, 0, Math.PI * 2);
                        ctx.fill();
                        ctx.font = "normal bold 8px Source Han Sans CN,serif";
                        ctx.fillStyle = "#FFFFFF";
                        if (i + 1 < n) {
                            ctx.fillText((i + 1).toString(), -3 + w, -(ring_radius - pistol_ring_unit * spacing * i - 9) + h);//上环数
                            ctx.fillText((i + 1).toString(), -(ring_radius - pistol_ring_unit * spacing * i - 4) + w, 3 + h);//左环数
                            ctx.fillText((i + 1).toString(), ring_radius - pistol_ring_unit * spacing * i - 9 + w, 3 + h);//右环数
                            ctx.fillText((i + 1).toString(), -3 + w, ring_radius - pistol_ring_unit * spacing * i - 3 + h);//下环数
                        }
                        ctx.lineWidth = 2;//边框
                        ctx.strokeStyle = "white";
                        ctx.stroke();
                    }
                    // 画手枪靶外圆心
                    ctx.beginPath();//开始一个新的绘制路径
                    ctx.fillStyle = "transparent";//填充透明
                    ctx.arc(w, h, pistol_ring_unit * 11.5, 0, Math.PI * 2);
                    ctx.fill();
                    ctx.lineWidth = 2;//边框
                    ctx.strokeStyle = "white";
                    ctx.stroke();
                    // 画手枪内圆心
                    ctx.beginPath();//开始一个新的绘制路径
                    ctx.fillStyle = "transparent";//填充透明
                    ctx.arc(w, h, pistol_ring_unit * 5, 0, Math.PI * 2);
                    ctx.fill();
                    ctx.lineWidth = 2;//边框
                    ctx.strokeStyle = "white";
                    ctx.stroke();
                }
            },
            /**
             * 绘制射击点
             */
            paintPoint(no) {
                var canvasPointArr = document.getElementsByClassName("shoot-unit-point");
                var canvasPoint = canvasPointArr[no - 1];
                var ctx = canvasPoint.getContext("2d");
                // 加载前清空画布
                ctx.clearRect(0, 0, canvasPoint.clientWidth, canvasPoint.clientHeight);
                var w = canvasPoint.clientWidth / 2;//根据(0, 0)点横坐标需要移动的距离
                var h = canvasPoint.clientHeight / 2;//根据(0, 0)点纵坐标需要移动的距离
                // 定义射击点边框、半径、坐标参数
                var border;
                var radius;
                var coordinate;
                var unitShootPointArray;
                var ring_height = canvasPoint.clientHeight * 0.96;//核心区域高
                var ring_radius = ring_height / 2;//核心区域最外圈半径
                var rifle_ring_unit = ring_height * (0.5 / 45.5);//核心区域标准比例的最小单位长度（步枪）
                var pistol_ring_unit = ring_height * (0.5 / 155.5);//核心区域标准比例的最小单位长度（手枪）
                if (this.match_type === "步枪") {
                    radius = 4.5 * rifle_ring_unit;
                    unitShootPointArray = this.allLinesShootData.find(item => item.unitTargetNo === no);
                    for (var i = 0; i < unitShootPointArray.unitShootData.length; i++) {
                        coordinate = {
                            x: (radius + ring_radius) * unitShootPointArray.unitShootData[i].unitShootPoint.x + w,
                            y: (radius + ring_radius) * unitShootPointArray.unitShootData[i].unitShootPoint.y + h
                        };
                        ctx.beginPath();
                        if (i === unitShootPointArray.unitShootData.length - 1) {
                            ctx.fillStyle = "#ff0000";
                        } else {
                            ctx.fillStyle = "#00ff00";
                        }
                        ctx.arc(coordinate.x, coordinate.y, radius, 0, Math.PI * 2);
                        ctx.fill();
                    }
                } else if (this.match_type === "手枪") {
                    radius = 4.5 * pistol_ring_unit;
                    unitShootPointArray = this.allLinesShootData.find(item => item.unitTargetNo === no);
                    for (var j = 0; j < unitShootPointArray.unitShootData.length; j++) {
                        coordinate = {
                            x: (radius + ring_radius) * unitShootPointArray.unitShootData[j].unitShootPoint.x + w,
                            y: (radius + ring_radius) * unitShootPointArray.unitShootData[j].unitShootPoint.y + h
                        };
                        ctx.beginPath();
                        if (j === unitShootPointArray.unitShootData.length - 1) {
                            ctx.fillStyle = "#ff0000";
                        } else {
                            ctx.fillStyle = "#00ff00";
                        }
                        ctx.arc(coordinate.x, coordinate.y, radius, 0, Math.PI * 2);
                        ctx.fill();
                    }
                }
            },
            /**
             * 清空各个靶道射击点
             */
            cleanPoint() {
                var canvasResetArr = document.getElementsByClassName("shoot-unit-point");
                for (var i = 0; i < canvasResetArr.length; i++) {
                    var canvasReset = canvasResetArr[i];
                    var ctx = canvasReset.getContext("2d");
                    ctx.clearRect(0, 0, canvasReset.clientWidth, canvasReset.clientHeight);
                }
            },
            /**
             * 排名颜色分配方法
             */
            rankColorAssign(rank_data) {
                var rank;
                var unitList;
                rank_data.forEach((value, i) => {
                    for (var key in value) {
                        // 获取数据并根据靶道对应存放
                        unitList = matchWholeInfo.allLinesShootData.find(item => item.unitTargetNo === parseInt(key.substring(2)));
                        rank = value[key];
                    }
                    if (rank > 8) {
                        unitList.unit_rank_color = this.rank_color_list.default;
                    } else {
                        unitList.unit_rank_color = this.rank_color_list[rank];
                    }
                    unitList.unitRankNum = rank;
                })
            },
            /**
             * 清空试射数据操作
             */
            clearTestingData() {
                // 清空射击点
                this.cleanPoint();
                // 清空所有靶道对应的射击数据
                for (var i = 0; i < this.allLinesShootData.length; i++) {
                    this.allLinesShootData[i].unitShootData = [];
                    // 重置显示数据
                    this.allLinesShootData[i].unitOrderCount = 0;//射击数量
                    this.allLinesShootData[i].unitTotalScore = 0;//总成绩
                    this.allLinesShootData[i].unitCurrentScore = 0;//当前环数
                    this.allLinesShootData[i].unitAverageScore = 0;//平均成绩
                }
            },
            /**
             * 弹窗方法
             */
            clickMask(obj) {
                this.isMaskShow = !this.isMaskShow;
                console.log(111)
            },
        }
    })

    /**
     * 单个靶道缩放组件
     */
    Vue.component('qy-unit_detail', {
        props: [''],
        template: ``
    })

    // 全局请求地址
    var globalUrl = "http://192.168.3.2:3881";

    // 全局请求方法
    function request(spliceUrl, paramData) {
        // 请求返回数据存放
        var ajaxData;
        $.ajax({
            async: false,
            url: globalUrl + spliceUrl,
            type: "get",
            dataType: "json",
            data: paramData,
            success: function (data) {
                ajaxData = data;
            }
        })
        return ajaxData.data;
    }

    // WebSocket获取数据
    // 云服务器地址
    var host = "ws://192.168.3.2:3881/refereeView/" + matchWholeInfo.venue_num;
    var lockReconnect = false;//避免重复连接
    var ws = new WebSocket(host);
    ws.onopen = function (event) {
        console.log("Connection open ...");
    };
    var onMsg = function (event) {
        eval("var obj = " + event.data);
        var info = obj;
        switch (info.type) {
            case 0://暂无赛事
                referee_no_match();
                break;
            case 1://赛事信息
                //裁判获取比赛类型初始化靶以及分组靶道
                referee_match_info(info.data);
                break;
            case 1003://加载一组选手信息
                //裁判获取所有靶道选手简要信息
                referee_onload_player(info.data);
                break;
            case 3://开始试射
                signalTest();
                break;
            case 4://正式射击
                signalReady();
                break;
            case 5://继续射击
                signalContinueShoot();
                break;
            case 6://单发决赛
                signalOddFinals();
                break;
            case 7://比赛结束
                signalMatchEnd();
                break;
            case 8://需要单发射击
                signalNeedOddFinals();
                break;
            case 9://射击数据
                //裁判获取所有靶道各自对应射击数据
                referee_shoot_data(info.data);
                break;
            case 10://排名数据
                //获取排名集合
                referee_rank_info(info.data);
                break;
            case 11://缩放数据
                //获取Canvas放大缩小信号
                //zoom_info(info.data);
                break;
            case 12://选手淘汰
                referee_over_info(info.data);
                break;
            case 1005://上线离线数据
                referee_target_state(info.data);
                break;
            case 15://枪靶连接
                referee_device_link(info.data);
                break;
            default:
                break;
        }
    };
    ws.onmessage = onMsg;
    ws.onclose = function (event) {
        console.log("Connection closed.");
        reconnect(host);
    };

    // 服务器断连重连
    function reconnect(uri) {
        matchWholeInfo.match_name = "断线重连中...";
        console.log("Connection reconnect");
        if (!lockReconnect) {
            lockReconnect = true;
            setTimeout(function () {
                ws = new WebSocket(host);
                ws.onmessage = onMsg;
                ws.onclose = function () {
                    reconnect(uri)
                };
                ws.onerror = function () {
                    reconnect(uri);
                }
                lockReconnect = false;
            }, 5000)
        }
    }

    // 处理暂无赛事
    function referee_no_match() {
        matchWholeInfo.match_name = "暂无赛事信息";
    }

    // 处理比赛JSON信息
    function referee_match_info(match_data) {
        eval("var obj = " + match_data);
        var info = obj;
        console.log(info);
        var competitionId = parseInt(info.competitionId);
        var group = info.currentGroup;
        var type = info.competitionEvent.toString().split("-");
        var stage = info.stage;
        matchWholeInfo.match_type = type[2];//比赛类型赋值vue
        matchWholeInfo.match_type_string = type[0] + type[1] + "激光" + type[2];//比赛类型字符串赋值vue
        matchWholeInfo.match_name = info.competitionName;//比赛名称赋值vue
        matchWholeInfo.current_group_no = group;//当前分组赋值vue
        matchWholeInfo.exit_target_sum = info.quantityOfTarget;//存在靶道数量
        matchWholeInfo.all_groups_sum = info.quantityOfGroup;//所有分组数量
        // 当接到新的比赛信息时清空所有靶道射击数据
        matchWholeInfo.allLinesShootData = [];
        if (stage === 1) {
            matchWholeInfo.match_stage = "资格赛";//比赛阶段赋值vue
        } else if (stage === 2) {
            matchWholeInfo.match_stage = "决赛";
        }
        matchWholeInfo.match_process = "比赛即将开始";
        // 根据靶道数量生成盒子
        for (var i = 0; i < info.quantityOfTarget; i++) {
            var list = {
                unitTargetNo: i + 1,//靶道编号
                unitPlayerId: 0,//选手编号
                unitPlayerName: "",//选手名字
                unitIsInline: false,//默认离线
                unitIsFinish: false,//默认未完成比赛
                unitOrderCount: 0,//射击数量
                unitCurrentScore: 0,//当前环数
                unitTotalScore: 0,//总成绩
                unitAverageScore: 0,//平均成绩
                unitRankNum: 0,//默认排名
                unit_rank_color: "",//排名颜色
                unit_gun_status: false,//枪初始状态
                unit_target_status: false,//靶初始状态
                unitShootData: []//按分组显示规则存放该靶道射击数据默认为空
            };
            matchWholeInfo.allLinesShootData.push(list);
        }
        matchWholeInfo.$nextTick(function () {
            if (matchWholeInfo.match_type === "步枪") {
                matchWholeInfo.drawRifleTarget();
            } else if (matchWholeInfo.match_type === "手枪") {
                matchWholeInfo.drawPistolTarget();
            }
        })
        // 数据恢复操作
        // if (group !== 0) {
        //     var list;//存放恢复射击单位数据
        //     var str1 = "/reload/testTime";
        //     var str2 = "/reload/athlete";
        //     var str3 = "/reload/athleteName";
        //     var pData1 = {competitionId: competitionId};
        //     var pData2 = {competitionId: competitionId, group: group, target: groupAndLine.target_line};
        //     var pData3 = {venueId: groupAndLine.venue_num, target: groupAndLine.target_line}
        //     if (request(str1, pData1) > 0) {
        //         console.log("试射");
        //     } else {
        //         // 恢复该靶道射击数据
        //         var recoverShootData = request(str2, pData2);
        //         for (var i = 0; i < recoverShootData.length; i++) {
        //             list = {
        //                 orderNo: recoverShootData[i].order,//发序
        //                 shootPoint: {x: recoverShootData[i].aim.x, y: recoverShootData[i].aim.y},//射击点坐标
        //                 shootDirection: recoverShootData[i].direction,//方位
        //                 shootScore: recoverShootData[i].score,//当前环数成绩
        //                 shootTotal: recoverShootData[i].totalScore//总成绩
        //             };
        //             // 资格赛、决赛发序分组与射击点显示策略
        //             if (matchType.match_stage === "资格赛") {
        //                 if (recoverShootData[i].order % 10 === 1) {
        //                     matchInfo.shoot_point_array = [];
        //                 }
        //                 matchInfo.shoot_point_array.push(recoverShootData[i].aim);
        //                 allShootDataList.orderAddQualifying(list);
        //                 matchInfo.paint_point();
        //             } else if (matchType.match_stage === "决赛") {
        //                 if (recoverShootData[i].order >= 10) {
        //                     if (recoverShootData[i].order % 5 === 1) {
        //                         matchInfo.shoot_point_array = [];
        //                     }
        //                 } else {
        //                     if (recoverShootData[i].order % 2 === 1) {
        //                         matchInfo.shoot_point_array = [];
        //                     }
        //                 }
        //                 matchInfo.shoot_point_array.push(recoverShootData[i].aim);
        //                 allShootDataList.orderAddFinals(list);
        //                 matchInfo.paint_point();
        //             }
        //             if (i === recoverShootData.length - 1) {
        //                 scoreShow.newest_score = recoverShootData[i].score;
        //                 scoreShow.total_score = recoverShootData[i].totalScore;
        //             }
        //         }
        //         // 恢复该靶道选手信息
        //         playerInfo.vue_playerInfo.athleteName = request(str3, pData3);
        //     }
        // }
        // var infoLen = Object.keys(info).length;//计算对象长度
    }

    // 处理分组和分组内所有靶道选手信息JSON信息
    function referee_onload_player(player_info) {
        if (player_info.length > 0) {
            eval("var obj = " + player_info);
            var info = obj;
            console.log(info);
            matchWholeInfo.current_group_no++;
            var unitList;
            for (var i = 0; i < info.length; i++) {
                unitList = matchWholeInfo.allLinesShootData.find(item => item.unitTargetNo === info[i].target);
                unitList.unitPlayerId = info[i].athleteId;//更新选手编号
                unitList.unitPlayerName = info[i].athleteName;//更新选手姓名
                //重置所有射击信息
                unitList.unitOrderCount = 0;
                unitList.unitCurrentScore = 0;
                unitList.unitTotalScore = 0;
                unitList.unitAverageScore = 0;
                unitList.unitRankNum = 0;
                unitList.unit_rank_color = "";
                unitList.unitShootData = [];
            }
        }
    }

    // 处理裁判实时监控上线离线靶道JSON信息
    function referee_target_state(target_state) {
        eval("var obj = " + target_state);
        var info = obj;
        console.log(info);
        if (info.target === 0) {
            // 裁判上线
            if (info.status === true) {
                matchWholeInfo.referee_state = "在线";
            } else if (info.status === false) {
                matchWholeInfo.referee_state = "离线";
            }
        } else {
            // 获取数据并根据靶道对应更新状态
            var unitList = matchWholeInfo.allLinesShootData.find(item => item.unitTargetNo === info.target);
            if (unitList !== undefined) {
                if (info.status === true) {
                    unitList.unitIsInline = true;
                } else if (info.status === false) {
                    unitList.unitIsInline = false;
                }
            }
        }
    }

    // 处理分组内所有靶道射击数据JSON信息
    function referee_shoot_data(shoot_data) {
        eval("var obj = " + shoot_data);
        var info = obj;
        console.log(info);
        var detailList = {
            unitOrderNo: info.aim.order,//发序
            unitShootPoint: {x: info.aim.x, y: info.aim.y},//射击点坐标
            unitShootDirection: info.direction,//方位
            unitShootScore: info.score,//当前环数成绩
        };
        // 资格赛、决赛射击点显示策略
        // 获取数据并根据靶道对应存放
        var unitList = matchWholeInfo.allLinesShootData.find(item => item.unitTargetNo === info.target);
        unitList.unitCurrentScore = info.score;//当前环数
        // 判断是否正在进行单发射击
        if (!matchWholeInfo.isOddShootingFinals) {//不进行单发射击
            unitList.unitOrderCount = info.aim.order;//射击数量
            unitList.unitTotalScore = info.totalScore;//总成绩
            unitList.unitAverageScore = info.totalScore / info.aim.order;//平均成绩
        }
        if (matchWholeInfo.match_stage === "资格赛") {
            if (info.aim.order % 10 === 1) {
                unitList.unitShootData = [];
            }
            unitList.unitShootData.push(detailList);
            matchWholeInfo.paintPoint(info.target);
        } else if (matchWholeInfo.match_stage === "决赛") {
            if (!matchWholeInfo.isOddShootingFinals) {
                if (info.aim.order <= 10) {
                    if (info.aim.order % 5 === 1) {
                        unitList.unitShootData = [];
                    }
                } else {
                    if (info.aim.order % 2 === 1) {
                        unitList.unitShootData = [];
                    }
                }
            } else {
                unitList.unitShootData = [];
            }
            unitList.unitShootData.push(detailList);
            matchWholeInfo.paintPoint(info.target);
        }
    }

    // 处理所有靶道排名JSON信息
    function referee_rank_info(rank_data) {
        eval("var obj = " + rank_data);
        var info = obj;
        matchWholeInfo.rankColorAssign(info);
    }

    // 处理试射信号
    function signalTest() {
        matchWholeInfo.match_process = "正在试射";
    }

    // 处理开始信号
    function signalReady() {
        // 当接受到开始信号就清空各个靶道对应的试射数据
        matchWholeInfo.clearTestingData();
        matchWholeInfo.match_process = "正式射击";
    }

    // 处理比赛结束信号
    function signalMatchEnd() {
        matchWholeInfo.match_process = "比赛结束";
    }

    // 处理需要进行单发射击
    function signalNeedOddFinals() {
        matchWholeInfo.needChangeStyle = true;
        matchWholeInfo.match_process = "需要进行单发射击";
    }

    // 处理单发射击信号
    function signalOddFinals() {
        matchWholeInfo.needChangeStyle = true;
        matchWholeInfo.match_process = "正在进行单发射击";
        matchWholeInfo.isOddShootingFinals = true;
    }

    // 处理继续射击信号
    function signalContinueShoot() {
        matchWholeInfo.needChangeStyle = false;
        matchWholeInfo.match_process = "正式射击";
        matchWholeInfo.isOddShootingFinals = false;
    }

    // 处理选手淘汰JSON信息
    function referee_over_info(over_data) {
        eval("var obj = " + over_data);
        var info = obj;
        console.log(info);
        var unitList = matchWholeInfo.allLinesShootData.find(item => item.unitTargetNo === info.target);
        if (unitList !== undefined) {
            if (info.status === true) {
                unitList.unitIsFinish = true;
            } else if (info.status === false) {
                unitList.unitIsFinish = false;
            }
        }
    }

    //处理枪连接JSON信息
    function referee_device_link(device_state) {
        eval("var obj = " + device_state);
        var info = obj;
        console.log(info);
        var unitList = matchWholeInfo.allLinesShootData.find(item => item.unitTargetNo === info.target);
        if (unitList !== undefined) {
            switch (info.status) {
                case 3000:
                    unitList.unit_gun_status = true;
                    break;
                case 3001:
                    unitList.unit_gun_status = false;
                    break;
                case 3002:
                    unitList.unit_target_status = true;
                    break;
                case 3003:
                    unitList.unit_target_status = false;
                    break;
            }
        }
    }
</script>
</body>
</html>