* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
}
/*-------------------------------------------------------------------------------*/
/*总体布局*/
.all {
    height: calc(100% - 2px);
    width: calc(100% - 2px);
    padding: 1px;
    background: #FFFFFF;
    color: #FFFFFF;/*文字颜色*/
    user-select: none;/*文字不可选中*/
}
/*背景区域*/
.all .background {
    height: 100%;
    width: 100%;
    background: #00494b;
}
/*标题区域*/
.all .background .title {
    height: 12%;
    width: 100%;
}
/*项目LOGO*/
.all .background .title .projectLogo {
    height: 100%;
    width: 6.75%;
    float: left;
}
/*标题右区域*/
.all .background .title .title_right {
    height: 100%;
    width: 93.25%;
    float: right;
}
/*标题右上区域*/
.all .background .title .title_right .title_right_top {
    height: 72%;
    width: 100%;
}
/*比赛名称*/
.all .background .title .title_right .matchName {
    height: 100%;
    width: 88%;
    float: left;
    font-size: 2.5vw;
    font-weight: bold;
    font-family: "Source Han Sans CN", serif;
    /*使用Flexbox水平垂直居中*/
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}
/*标题右上右区域*/
.all .background .title .title_right .title_right_top_right {
    height: 100%;
    width: 12%;
    float: right;
    /*使用Flexbox水平垂直居中*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*承办LOGO*/
.all .background .title .title_right .title_right_top_right .undertakeLogo {
    height: 90%;
}
/*项目内容*/
.all .background .title .title_right .projectDetail {
    height: 28%;
    width: 100%;
    font-size: 1.05vw;
    font-weight: bold;
    font-family: "Source Han Sans CN", serif;
}
.all .background .title .title_right .projectDetail td {
    width: calc(100% / 4);
}
.all .background .title .title_right .projectDetail td:last-child {
    text-align: right;
}
/*数据区域*/
.all .background .data {
    height: 48%;
    width: 100%;
    overflow: hidden;
}
/*射击数据表格属性*/
/*---------------------------------------------------------------------------*/
.all .background .data .shootingData {
    width: 100%;
    border-collapse: collapse;
    font-family: "Source Han Sans CN", serif;
}
.all .background .data .shootingData tr {
    height: 5.26vh;
}
.all .background .data .shootingData thead {
    font-size: 1.5vw;
    font-weight: bold;
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.all .background .data .shootingData tbody {
    font-weight: normal;
    font-size: 1.36vw;
}
/*排名*/
.all .background .data .shootingData tr th:nth-child(1) {
    width: 5%;
    text-align: center;
}
.all .background .data .shootingData tr td:nth-child(1) {
    width: 5%;
    text-align: center;
}
/*靶道*/
.all .background .data .shootingData tr th:nth-child(2) {
    width: 5%;
    text-align: center;
}
.all .background .data .shootingData tr td:nth-child(2) {
    width: 5%;
    text-align: center;
}
/*选手*/
.all .background .data .shootingData tr th:nth-child(3) {
    width: 8%;
    text-align: left;
}
.all .background .data .shootingData tr td:nth-child(3) {
    width: 8%;
    text-align: left;
}
/*团队*/
.all .background .data .shootingData tr th:nth-child(4) {
    width: 16%;
    text-align: left;
}
.all .background .data .shootingData tr td:nth-child(4) {
    width: 16%;
    text-align: left;
}
/*1-10*/
.all .background .data .shootingData tr th:nth-child(5) {
    width: 5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(5) {
    width: 5%;
    text-align: right;
}
/*11*/
.all .background .data .shootingData tr th:nth-child(6) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(6) {
    width: 3.5%;
    text-align: right;
}
/*12*/
.all .background .data .shootingData tr th:nth-child(7) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(7) {
    width: 3.5%;
    text-align: right;
}
/*13*/
.all .background .data .shootingData tr th:nth-child(8) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(8) {
    width: 3.5%;
    text-align: right;
}
/*14*/
.all .background .data .shootingData tr th:nth-child(9) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(9) {
    width: 3.5%;
    text-align: right;
}
/*15*/
.all .background .data .shootingData tr th:nth-child(10) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(10) {
    width: 3.5%;
    text-align: right;
}
/*16*/
.all .background .data .shootingData tr th:nth-child(11) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(11) {
    width: 3.5%;
    text-align: right;
}
/*17*/
.all .background .data .shootingData tr th:nth-child(12) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(12) {
    width: 3.5%;
    text-align: right;
}
/*18*/
.all .background .data .shootingData tr th:nth-child(13) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(13) {
    width: 3.5%;
    text-align: right;
}
/*19*/
.all .background .data .shootingData tr th:nth-child(14) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(14) {
    width: 3.5%;
    text-align: right;
}
/*20*/
.all .background .data .shootingData tr th:nth-child(15) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(15) {
    width: 3.5%;
    text-align: right;
}
/*21*/
.all .background .data .shootingData tr th:nth-child(16) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(16) {
    width: 3.5%;
    text-align: right;
}
/*22*/
.all .background .data .shootingData tr th:nth-child(17) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(17) {
    width: 3.5%;
    text-align: right;
}
/*23*/
.all .background .data .shootingData tr th:nth-child(18) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(18) {
    width: 3.5%;
    text-align: right;
}
/*24*/
.all .background .data .shootingData tr th:nth-child(19) {
    width: 3.5%;
    text-align: right;
}
.all .background .data .shootingData tr td:nth-child(19) {
    width: 3.5%;
    text-align: right;
}
/*总成绩*/
.all .background .data .shootingData tr th:nth-child(20) {
    width: 7%;
    text-align: center;
}
.all .background .data .shootingData tr td:nth-child(20) {
    width: 7%;
    text-align: center;
}
/*环差*/
.all .background .data .shootingData tr th:nth-child(21) {
    width: 5%;
    text-align: center;
}
.all .background .data .shootingData tr td:nth-child(21) {
    width: 5%;
    text-align: center;
}
/*---------------------------------------------------------------------------*/

/*靶图区域*/
.all .background .target {
    height: 40%;
    width: 100%;
}
/*靶图列表属性*/
/*---------------------------------------------------------------------------*/
ul {
    list-style: none;
    display: flex;/*先设置div里的内容显示同一行*/
    justify-content: flex-start;/*左右布局*/
    flex-wrap: wrap;/*换行*/
    align-content: flex-start;/*紧揍排列*/
}
/*列表单元*/
.target_unit {
    /*width: 475.5px;*/
    /*height: 211.6px;*/
    width: 24.76vw;
    height: 19.62vh;
    border: 2px solid #FFFFFF;
    /*background: white;*/
    position: relative;
    overflow: hidden;
}
/*显示层*/
.target_unit .display_floor {
    width: 100%;
    height: 100%;
    position: absolute;
}
/*底部靶图*/
.target_unit .display_floor .unit_ring-box {
    width: 100%;
    height: 100%;
    position: relative;
    background: #FFFFFF;
    overflow: hidden;
}
/*绘制靶Canvas区域*/
.shoot-unit-target {
    background-color: transparent;
    position: absolute;/*子类*/
    /*水平垂直居中于父类*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
/*绘制射击点Canvas区域*/
.shoot-unit-point {
    background-color: transparent;
    position: absolute;/*子类*/
    /*水平垂直居中于父类*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 2;
}
/*靶遮罩*/
.target_unit .display_floor .unit_ring-box .target_mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
/*靶遮罩文字*/
.target_mask-text {
    position: absolute;
    font-size: 5vw;
    font-weight: bold;
    font-family: "Source Han Sans CN", serif;
}
/*靶上框*/
.target_unit .display_floor .unit_ring-box .unit_top_frame {
    width: 100%;
    height: 16%;
    top: 0;
    position: absolute;
    background: #00494b;
    display: flex;
    align-items: center;
    opacity: 0.8;
    z-index: 4;
}
/*靶道号文字*/
.target-text {
    position: absolute;
    left: 10px;
    font-size: 1.05vw;
    font-weight: normal;
    font-family: "Source Han Sans CN", serif;
}
/*靶下框*/
.target_unit .display_floor .unit_ring-box .unit_bottom_frame {
    width: 100%;
    height: 16%;
    bottom: 0;
    position: absolute;
    background: #00494b;
    display: flex;
    align-items: center;
    opacity: 0.8;
    z-index: 5;
}
/*选手姓名文字*/
.player_name-text {
    position: absolute;
    left: 10px;
    font-size: 1.05vw;
    font-weight: normal;
    font-family: "Source Han Sans CN", serif;
}
/*当前环数文字*/
.current_score-text {
    position: absolute;
    right: 10px;
    font-size: 1.05vw;
    font-weight: normal;
    font-family: "Source Han Sans CN", serif;
}
/*遮罩层*/